body {
  font-family: Arial, sans-serif;
}

.titulo {
  text-align: center;
  margin-bottom: 20px;
}

/* FORMULARIO */
.card-form {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-top: 10px;
}

input, select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* BOTONES */
.botones {
  margin-top: 15px;
}

button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-guardar {
  background: #28a745;
  color: white;
}

.btn-cancelar {
  background: #6c757d;
  color: white;
  margin-left: 10px;
}

/* TABLA */
.tabla-card {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th {
  background: #343a40;
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* BOTONES TABLA */
.btn-editar {
  background: #ffc107;
  margin-right: 5px;
}

.btn-eliminar {
  background: #dc3545;
  color: white;
}